
.contacto__body {
    background-image: url(../img/rollos.jpg);
  
    font-family: $font-primary;

    .contacto__title {
        font-size: x-large;
        margin-bottom: 4rem;
        color: black;
    }
    
    .contacto__form {
        font-family: $font-secondary;
        font-size: medium;
        font-weight: bold;
        line-height: 4rem;
        text-align: center;
        padding: .8rem;
        margin-top: 4rem;
        background-color:rgba(222, 184, 135, 0.351);  
        color: black;  

        .form-label {
            font-size: map-get($sizes , xsmall);
        }

        .contacto__btn {

            margin-bottom: 2rem;
            width: 100px;
            padding: .2rem;
            background-color: $btn-link-color;
            color:white;
            border: none;

        }
        
        
    }
}


@media screen and (max-width: 480px) {

    .contacto__body {

    
    .contacto-title {

        font-size: large;
    }
    .form-label {

    font-size: small;

}
}
}