
.contacto__body {
    background-image: url(../img/rollos.jpg);
  
    font-family: $font-primary;

    .contacto__title {
        font-size: xx-large;
        margin-bottom: 4rem;
        color: black;
        text-shadow: 2px 2px 4px #3e3c3c;
    }

    .contacto__img {
         width: 100%;
    }
    
    .contacto__form {
        font-family: $font-third;
        font-size: medium;
        font-weight: bold;
        line-height: 4rem;
        text-align: center;
        padding: .8rem;
        margin-top: 4rem;
        background-color:rgba(222, 184, 135, 0.351);  
        text-shadow: 2px 2px 4px #3e3c3c;
        color: black;  

        .form-label {
            font-size: map-get($sizes , xsmall);
            
        }

        .form.control {
                margin: 5px 0;
        }

              
        .contacto__btn {

            margin-bottom: 2rem;
            width: 100px;
            padding: .2rem;                      
            border: none;
            color:white;
            border-bottom: 2px solid rgba(0, 0, 0, 0.34);
            background-color: rgb(185, 131, 5);

        }
        .contacto__btn:hover {
            background-color: rgb(205, 164, 69);
        }
      
    }
    
    .iframe {
        position:relative;
        padding-bottom: 56.25%;
        width:100%;
        overflow: hidden;
        margin-bottom: 5rem;
        
       

        .ubicacion {
            font-size: 1.5em;
            font-weight: 700;
            color:black;
            margin-top: 2rem;
            
        }     
        
                
        iframe {
            position:absolute;            
            height: 80%;
            text-align: center;
            
        
                
        }
}
}


@media screen and (max-width: 480px) {

    .contacto__form {

    
        .contacto__title {

         font-size: large;
        }
        
        label {

            font-size: 0.8em;
        }

    }
           
    } 
    