
.galeria__body {

    padding-bottom:5rem;
    background-image: url(../img/trigo.jpg);
    color: black;
    
    .galeria__titulo {
        @include title(5em, white, 'Roboto', 2px 2px 2px black, 700, center, 3rem, underline);
    }
}

@media screen and (max-width: 780px) {

.galeria__titulo {
    font-size:large;
}
}