
.galeria__body {

    padding-bottom:5rem;
    background-color: $secondary;
    color: black;
    
    
    .galeria__titulo {
              
        @include title(4em, #f2f2f2, 'Expletus Sans', 2px 2px 2px rgb(42, 42, 42), 700, center, 3rem);
        background-color: #3d1a1aef;
        
    }

    #galeria .col-lg-4 {
        margin:0 !important;
        padding: 2.5rem;
        filter: brightness(120%);
        filter: contrast(120%);
        filter: drop-shadow(10px 10px 10px rgb(5, 5, 5));
        

    }
    #galeria img {
        width: 100%;
        height: 260px;
        transition:all .5s ease-in-out;

        &:hover {
            -webkit-transform:scale(1.2);transform:scale(1.2);
            transition:all .5s ease-in-out;
        }
    }}

    .carousel {
        filter: brightness(120%);
        filter: contrast(120%);
        filter: drop-shadow(10px 10px 10px rgb(20, 20, 20));

    }
    


@media screen and (max-width: 780px) {

#galeria {
.galeria__titulo {
    font-size: 4em;
}
}
}