.tituloGaleria {

    font-size: 6em;
    text-align: center;
    align-items: center;
    padding: 6rem;
    text-decoration: underline;

}

.body-galeria {

    background-image: url(../img/trigo.jpg);
    color: black;
}


@media screen and (max-width: 780px) {

.tituloGaleria {
    font-size: $text-md;
}
}