
.body-inicio {

    min-height: 100vh;
    gap: 3rem;
    color: $secondary;
    font-family: $font-primary;
    
    
    .inicio {
        display: flex;
        font-size:small;
        gap: 3rem;
        text-align: left;
        padding: 0 2rem;
        background-color:rgba(222, 184, 135, 0.351);
        color: black;

        
        &__article {
            line-height: 4rem;
            max-width: 1080px;

        }
       
        &__titulo {

            color: white;
            text-shadow: 2px 2px 2px black;
            width: 100%;
            font-family: 'Expletus Sans', cursive;
            background-image: url(../img/ganaderia3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-size: 3em;
            text-align: center;
            padding: 6rem;
            margin-bottom: 4rem;
            animation: zoomIn 1 ease-in-out 5s;
        }

    
        &__imagenes {

            display: flex;
            flex-direction: row;
            gap: 2rem;
            flex-wrap: wrap;
            min-width: 320px;
            margin-top: 3rem;
            padding: 2rem;
            justify-content: center;

            .foto1 {
                
                margin-right: 5rem;
                animation: zoomIn 1 ease-in-out 3s;
                
            }

            .foto2 {
                padding: 1rem;
                border: 1px solid gray;
                border-radius: 50%;
                width: 100%;
                transition: transform 3s ease-in-out;
                
                }
           
            .foto2:hover {
            transform: scale(1.2);
            border-radius: 50%;
            }
          

            @media screen and (max-width: 480px) {


                body {
                    margin: 0.5rem;
                    font-size:1em;

                }
              
                header {

                    padding: 1em;
                    justify-content: center;

                    & .navbar {
                        flex-wrap: wrap;
                        justify-content: center;
    
                    }
    
                }

                h3 {
                    font-size: small;
                }

         
            @media screen and (max-width: 780px) {


                header .navbar {
                    flex-wrap: wrap;
                    justify-content: center;

                }

                .inicio__article {
                    width: 100%;
                }
           
            }

            @media screen and (max-width: 320px) {


                header {

                    padding: 1em;

                    & .navbar {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }

                .inicio__article {
                    width: 100%;
                }

            }
            }

        }
    }
}