
.body-inicio {

    min-height: 100vh;
    gap: 3rem;
    color: $secondary;
    font-family: $font-primary;
    background-color: $principal;
    
        
        .inicio {
        display: flex;
        font-size: $text-sm;
        gap: 3rem;
        text-align: left;
        padding: 0 2rem;
        background-color: $secondary;
        color: black;

        main  {
            background-color: darkgrey;
            
        }

            &__article {
            line-height: 4rem;
            max-width: 1080px;
            
         }

         &__titulo {
            width: 100%;
            font-family: 'Expletus Sans', cursive;
            background-image: url(../img/fondo_45degreee_fabric.png );
            font-size: 4em;
            text-align: center;
            padding: 8rem;
            margin-bottom: 4rem;
            animation: zoomIn 1 ease-in-out 5s;
        }
    
        &__imagenes {

            display: flex;
            flex-direction: row;
            gap: 2rem;
            flex-wrap: wrap;
            min-width: 320px;
            margin-top: 3rem;
            padding: 2rem;
            justify-content: center;
            
            .foto1 {
                padding: 2rem;
                margin-right: 5rem;
                animation: zoomIn 1 ease-in-out 3s;
            .foto2 {
                padding: 2rem;
                border-radius: 50%;
                border: 1px solid black;
                width: 100%;
                transition: transform 3s ease-in-out;
                
               
            }
        }
    
picture .foto2:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 480px) {


    body {
        margin: 0.5rem;

    }

    header .navbar {
        flex-wrap: wrap;
        justify-content: center;

    }

    header {

        padding: 1em;
        justify-content: center;

    }

    h3 {
        font-size: $text-sm;
    }

    .inicio {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 0.5rem;
        font-family: 1.2em;

    }

    .inicio__imagenes {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .tituloChampaqui {
        font-size: 2em;
    }


    .foto1 {
        order: -1;

    }

    .foto2 {
        flex-wrap: wrap;

    }


    .menu {
        font-size: .8em;
    }
}

@media screen and (max-width: 780px) {

    

    header .navbar {
        flex-wrap: wrap;
        justify-content: center;

    }

    .article-inicio {
        width:100%;
    }
}

@media screen and (max-width: 320px) {

 
    header {
    
        padding: 1em;

        & .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    
    .article-inicio {
        width:100%;
    }
}

}
}
}