.nosotros {

    background-image: url(../img/trigo.jpg);
    line-height: 3rem;
    flex-direction: row;
    flex-wrap: wrap;

    &__section {
        padding-top: 4rem;


        .nosotros__title {

            @include title(5em, white, 'Roboto', 2px 2px 2px black, 700, center, 3rem, underline);
    
        }
             
        .nosotros__article {

            font-size: small;
            color: black;
            margin: 3rem;
            transition: all .5s ease-in-out;
            animation: slideInLeft 1 ease-in-out 5s;
            gap: 3rem;
            background-color:rgba(222, 184, 135, 0.351);
        }

        .btn {
            background-color: $btn-link-color;
            color:white;
            border: none;
        }

    }

}

@media screen and (max-width: 480px) {

    .nosotros__section {
        .nosotros__title {
            font-size: 3em ;
        }
        .card-text {
            font-size: smaller;
        }

        .nosotros__article {
            font-size: smaller;
        }
    }
  
}

@media screen and (max-width:780px) {
    
    

    .nosotros__title {
        font-size: 4em;
    }
}
