.body-premios {
    background-image: url(../img/fondo_45degreee_fabric.png);

}

.titulo-premios {

    color: black;
    margin: 4rem;
}

.premios-tabla {
    margin-bottom: 4rem;
}

.sección-premios {
    color: black;
}