.body-premios {
    background-image: url(../img/fondo_45degreee_fabric.png);

}

.titulo-premios {

    font-size: 6em;
    text-align: center;
    align-items: center;
    padding: 6rem;
    text-decoration: underline;
}

.premios-tabla {
    margin-bottom: 4rem;
}

.sección-premios {
    color: black;
}