.premios__body {
    background-image: url(../img/fondo_45degreee_fabric.png);

    .premios__titulo {

        @include title(5em, white, 'Roboto', 2px 2px 2px black, 700, center, 3rem, underline);

    }
    .premios__tabla {
        margin-bottom: 4rem;
        padding: 4rem;
    }

    .premios__section {
        color: black;
        padding: 4rem;
    }
   
}