.servicios__main {

    background-image: url(../img/trigo.jpg);
    line-height: 3rem;

    .servicios__titulo {
        @include title(4em, white, 'Expletus Sans', 2px 2px 4px #000000, 700, center, 3rem);
        background-color: #3d1a1aa8;
    }

    .servicios__parrafo {

        color: black;
        line-height: 3rem;
        font-weight: 700;
        font-size: large;
        margin-top: 2rem;
        text-shadow: 2px 2px 4px #3b3a3a;

    }

    .servicios__intro {
        color: black;

    }


    .servicios__card {
        justify-content: space-evenly;
        align-content: center;


        article {

            margin: 0.5rem;
            // padding: 2rem;
            justify-content: center;
            border-radius: 1.25rem !important;

            H2 {
                padding-top: 3rem;
                color: rgb(185, 131, 5);
                ;
                text-shadow: 2px 2px 2px black;

            }

            .servicios__ganaderia {
                font-size: 1.5em;
                color: black;

            }

            .servicios__agricultura {
                @extend .servicios__ganaderia;
            }
        }
    }


}


footer {
    color: $secondary;
}

@media screen and (max-width: 480px) {

    .servicios__main {

        font-size: 1em;
        line-height: 2em;
        justify-content: center;

        .servicios__titulo {
            font-size: 3em;
        }

        .servicios__parrafo {

            border: 3px solid $secondary;
            border-radius: 15%;
            border-color: rgba(222, 184, 135, 0.351);
            line-height: 3rem;
            font-weight: bold;
            justify-content: center;
            font-size: small;
        }

        .servicios__card {
            .servicios__ganaderia {
                font-size: x-small;
            }
        }

    }

}