@import url("https://fonts.googleapis.com/css2?family=Anton&family=Expletus+Sans:ital,wght@0,400;0,500;1,400&family=Inter:wght@300;400;500&family=Josefin+Sans:wght@300;400;500;700&family=M+PLUS+Rounded+1c:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");
.fs-xxlarge {
  font-size: 5em; }

.fs-xlarge {
  font-size: 3em; }

.fs-large {
  font-size: 2em; }

.fs-medium {
  font-size: 1.6em; }

.fs-small {
  font-size: 1.4em; }

.fs-xsmall {
  font-size: 1em; }

.fs-xxsmall {
  font-size: 0.8em; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  color: #FFFFFF;
  font-family: "M PLUS Rounded 1c", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@keyframes fancy_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* PARTIALS */
header {
  background-color: #3d1a1a; }
  header .logo {
    flex-basis: 20%;
    height: 150px;
    border-radius: 50%; }
  header .navbar {
    min-height: 15vh;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%; }
    header .navbar .input {
      height: 40px;
      align-content: center; }
    header .navbar #boton-carrito {
      border: none;
      color: #e14c41;
      font-size: 30px;
      background-color: #514e4e;
      border-radius: 50%;
      padding: 3px 7px;
      transition: all 0.3s; }
    header .navbar #boton-carrito:hover {
      cursor: pointer;
      color: white;
      background-color: #e14c41; }
    header .navbar #boton-carrito:focus {
      outline: none; }
    header .navbar .seleccion {
      text-align: center; }
    header .navbar .navbar-collapse {
      flex-grow: unset; }
      header .navbar .navbar-collapse .nav-item {
        padding: 1rem;
        color: #FFFFFF; }
        header .navbar .navbar-collapse .nav-item .nav-link {
          border-bottom: 2px solid #3d1a1a; }
          header .navbar .navbar-collapse .nav-item .nav-link:hover {
            border-bottom: 2px solid #FFFFFF;
            border-color: #FFFFFF; }
        header .navbar .navbar-collapse .nav-item .dropdown-menu {
          background-color: rgba(246, 229, 189, 0.815);
          color: #FFFFFF;
          border-radius: 5%;
          font-size: 1.2em; }
          header .navbar .navbar-collapse .nav-item .dropdown-menu.dropdown-item:hover {
            background-color: #da9393;
            color: black; }
      header .navbar .navbar-collapse li:hover > ul {
        display: block;
        color: #FFFFFF; }
      header .navbar .navbar-collapse li ul li {
        position: relative; }
      header .navbar .navbar-collapse .navbar-dark .navbar-toggler {
        border-color: white; }
        header .navbar .navbar-collapse .navbar-dark .navbar-toggler .navbar-toggler-icon {
          color: white; }

footer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  border-top: 1px solid white;
  background-color: black;
  padding-top: 4rem;
  padding-bottom: 3rem; }

@media screen and (max-width: 480px) {
  footer {
    font-size: x-small; } }

/* VIEWS */
.inicio__body {
  min-height: 100vh;
  gap: 3rem;
  color: #FFFFFF;
  font-family: "M PLUS Rounded 1c", sans-serif; }
  .inicio__body .inicio {
    display: flex;
    font-size: small;
    gap: 3rem;
    text-align: left;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.351);
    color: black; }
    .inicio__body .inicio__titulo {
      color: white;
      text-shadow: 2px 2px 2px black;
      width: 100%;
      font-family: 'Expletus Sans', cursive;
      background-image: url(../img/ganaderia3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      font-size: 4em;
      text-align: center;
      padding: 7rem 4rem;
      animation: zoomIn 1 ease-in-out 5s; }
    .inicio__body .inicio__foto:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      transition: all .5s ease-in-out; }
    .inicio__body .inicio__foto img {
      transition: all .5s ease-in-out; }
    .inicio__body .inicio .list-group {
      text-align: center;
      justify-content: center;
      margin-top: 4rem; }
      .inicio__body .inicio .list-group .heading {
        background-color: #b98305;
        border: none;
        text-shadow: 2px 2px 2px black;
        padding: 1rem; }
      .inicio__body .inicio .list-group .list-group-item {
        padding: 1rem;
        justify-content: center; }
      .inicio__body .inicio .list-group h5 {
        padding: 1rem; }
      .inicio__body .inicio .list-group a.gepsa {
        padding: 2rem; }
    .inicio__body .inicio h2 {
      font-size: x-large;
      background-color: rgba(185, 131, 5, 0.777);
      padding: 2rem;
      text-shadow: 2px 2px 4px #3e3c3c;
      text-align: center;
      color: #FFFFFF; }
    .inicio__body .inicio__article {
      line-height: 4rem;
      max-width: 1080px; }
      .inicio__body .inicio__article h2 {
        margin-top: 4rem; }
    .inicio__body .inicio__imagenes {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      flex-wrap: wrap;
      min-width: 320px;
      margin-top: 3rem;
      padding: 2rem;
      justify-content: center; }
      .inicio__body .inicio__imagenes .foto1 {
        animation: zoomIn 1 ease-in-out 3s; }
      .inicio__body .inicio__imagenes .foto2 {
        padding: 1rem;
        border: 1px solid gray;
        border-radius: 50%;
        width: 100%;
        transition: transform 3s ease-in-out; }
      .inicio__body .inicio__imagenes .foto2:hover {
        transform: scale(1.2);
        border-radius: 50%; }
      @media screen and (max-width: 480px) {
        .inicio__body .inicio__imagenes main .inicio__parrafo {
          font-size: 1em; } }

.nosotros {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url(../img/trigo.jpg);
  line-height: 3rem;
  flex-direction: row;
  flex-wrap: wrap; }
  .nosotros .btn {
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.34);
    background-color: #b98305; }
  .nosotros .btn:hover {
    background-color: #cda445; }
  .nosotros aside {
    font-size: small;
    margin-top: 7rem;
    width: 40%;
    padding: 4rem;
    margin-left: 1.5rem;
    float: right;
    font-style: italic;
    background-color: rgba(245, 216, 148, 0.525);
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px #141414); }
  .nosotros__section {
    padding-top: 4rem; }
    .nosotros__section .nosotros__title {
      font-size: 4em;
      color: white;
      font-family: "Expletus Sans";
      text-shadow: 2px 2px 4px #000000;
      font-weight: 700;
      text-align: center;
      padding: 3rem;
      text-decoration: none; }
    .nosotros__section .card1 {
      background-color: rgba(222, 184, 135, 0.351); }
      .nosotros__section .card1 .card-header {
        font-size: 2em;
        font-weight: 600;
        background-color: rgba(222, 184, 135, 0.351);
        border: 1px double rgba(218, 156, 76, 0.351);
        padding: 3rem; }
      .nosotros__section .card1 .card-body1 {
        margin-bottom: 3rem;
        padding: 2rem;
        font-size: small;
        justify-content: left; }
  .nosotros .card2 {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px #141414); }
    .nosotros .card2 .card-body2 {
      background-color: white;
      font-size: small;
      color: black;
      justify-content: left;
      padding-left: 1rem; }
      .nosotros .card2 .card-body2 .card-title2 {
        color: #b98305;
        font-size: 3em;
        text-shadow: 2px 2px 2px black; }
      .nosotros .card2 .card-body2 .champaqui {
        margin-top: 2rem; }
  .nosotros #historia {
    font-size: small; }

@media screen and (max-width: 480px) {
  .nosotros__section .nosotros__title {
    font-size: 3em; }
  .nosotros__section .card-text {
    font-size: smaller; }
  .nosotros__section h3 {
    font-size: 1.5em; } }

@media screen and (max-width: 780px) {
  .nosotros__section aside {
    vertical-align: top;
    /* float: none; */
    width: 100%;
    order: 1;
    justify-content: center; } }

.nosotros__title {
  font-size: 4em; }

.servicios__main {
  background-image: url(../img/trigo.jpg);
  line-height: 3rem; }
  .servicios__main .servicios__titulo {
    font-size: 4em;
    color: white;
    font-family: "Expletus Sans";
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: none;
    background-color: #3d1a1aa8; }
  .servicios__main .servicios__parrafo {
    color: black;
    line-height: 3rem;
    font-weight: 700;
    font-size: large;
    margin-top: 2rem;
    text-shadow: 2px 2px 4px #3b3a3a; }
  .servicios__main .servicios__intro {
    color: black; }
  .servicios__main .servicios__card {
    justify-content: space-evenly;
    align-content: center; }
    .servicios__main .servicios__card article {
      margin: 0.5rem;
      justify-content: center;
      border-radius: 1.25rem !important; }
      .servicios__main .servicios__card article H2 {
        padding-top: 3rem;
        color: #b98305;
        text-shadow: 2px 2px 2px black; }
      .servicios__main .servicios__card article .servicios__ganaderia, .servicios__main .servicios__card article .servicios__agricultura {
        font-size: 1.5em;
        color: black; }

footer {
  color: #FFFFFF; }

@media screen and (max-width: 480px) {
  .servicios__main {
    font-size: 1em;
    line-height: 2em;
    justify-content: center; }
    .servicios__main .servicios__titulo {
      font-size: 3em; }
    .servicios__main .servicios__parrafo {
      border: 3px solid #FFFFFF;
      border-radius: 15%;
      border-color: rgba(222, 184, 135, 0.351);
      line-height: 3rem;
      font-weight: bold;
      justify-content: center;
      font-size: small; }
    .servicios__main .servicios__card .servicios__ganaderia, .servicios__main .servicios__card article .servicios__agricultura {
      font-size: x-small; } }

.galeria__body {
  padding-bottom: 5rem;
  background-color: #FFFFFF;
  color: black; }
  .galeria__body .galeria__titulo {
    font-size: 4em;
    color: #f2f2f2;
    font-family: "Expletus Sans";
    text-shadow: 2px 2px 4px black;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: none;
    background-color: #3d1a1aef; }
  .galeria__body #galeria .col-lg-4 {
    margin: 0 !important;
    padding: 2.5rem;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px #050505); }
  .galeria__body #galeria img {
    width: 100%;
    height: 260px;
    transition: all .5s ease-in-out; }
    .galeria__body #galeria img:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      transition: all .5s ease-in-out; }

.carousel {
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px #141414); }

@media screen and (max-width: 780px) {
  #galeria .galeria__titulo {
    font-size: 4em; } }

.premios__body {
  background-image: url(../img/fondo_45degreee_fabric.png); }
  .premios__body .premios__titulo {
    font-size: 4em;
    color: white;
    font-family: "Expletus Sans";
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: none; }
  .premios__body .premios__tabla {
    margin-bottom: 4rem;
    padding: 4rem;
    font-size: small; }
    .premios__body .premios__tabla .premios__p {
      font-size: 1.3em; }
    .premios__body .premios__tabla tr {
      text-align: center; }
  .premios__body .premios__section {
    color: black;
    padding: 4rem; }
    .premios__body .premios__section .premios__foto img {
      transition: all .5s ease-in-out;
      filter: brightness(120%);
      filter: contrast(120%);
      filter: drop-shadow(10px 10px 10px #141414); }
      .premios__body .premios__section .premios__foto img:hover {
        filter: saturate(180%);
        transition: all .5s ease-in-out; }

@media screen and (max-width: 480px) {
  .premios__body .premios__titulo {
    font-size: 3em; }
  .premios__body .premios__tabla {
    font-size: x-small; }
    .premios__body .premios__tabla .premios__p {
      font-size: 1em; } }

.contacto__body {
  background-image: url(../img/rollos.jpg);
  font-family: "M PLUS Rounded 1c", sans-serif; }
  .contacto__body .contacto__title {
    font-size: xx-large;
    margin-bottom: 4rem;
    color: black;
    text-shadow: 2px 2px 4px #3e3c3c; }
  .contacto__body .contacto__img {
    width: 100%; }
  .contacto__body .contacto__form {
    font-family: "Expletus, sans";
    font-size: medium;
    font-weight: bold;
    line-height: 4rem;
    text-align: center;
    padding: .8rem;
    margin-top: 4rem;
    background-color: rgba(222, 184, 135, 0.351);
    text-shadow: 2px 2px 4px #3e3c3c;
    color: black; }
    .contacto__body .contacto__form .form-label {
      font-size: 1em; }
    .contacto__body .contacto__form .form.control {
      margin: 5px 0; }
    .contacto__body .contacto__form .contacto__btn {
      margin-bottom: 2rem;
      width: 100px;
      padding: .2rem;
      border: none;
      color: white;
      border-bottom: 2px solid rgba(0, 0, 0, 0.34);
      background-color: #b98305; }
    .contacto__body .contacto__form .contacto__btn:hover {
      background-color: #cda445; }
  .contacto__body .iframe {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem; }
    .contacto__body .iframe .ubicacion {
      font-size: 1.5em;
      font-weight: 700;
      color: black;
      margin-top: 2rem; }
    .contacto__body .iframe iframe {
      position: absolute;
      height: 80%;
      text-align: center; }

@media screen and (max-width: 480px) {
  .contacto__form .contacto__title {
    font-size: large; }
  .contacto__form label {
    font-size: 0.8em; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  margin-bottom: 10px; }

.input {
  width: 50% !important; }

h1 {
  color: #e14c41;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  text-align: center; }

.seleccion {
  text-align: center; }

#selecProd {
  width: 50%; }

#boton-carrito {
  border: none;
  color: #e14c41;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all 0.3s; }

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: #e14c41; }

#boton-carrito:focus {
  outline: none; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

p {
  line-height: 1.8; }

.producto {
  max-width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  position: relative;
  background-color: white;
  border: 1px solid #e14c41;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #e14c41;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #e14c41;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.card .card-image .card-title {
  color: #e14c41;
  position: unset; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.productoEnCarrito:hover {
  border-left: 5px solid #e14c41; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

.loading {
  margin: auto;
  width: 43%; }

#btnFinalizar {
  border: black;
  color: white;
  font-size: 25px;
  background-color: #e14c41;
  border-radius: 70%;
  padding: 15px 25px;
  transition: all 0.3s;
  margin-bottom: 4rem; }

#btnFinalizar:hover {
  cursor: pointer;
  color: #e14c41;
  background-color: white; }

#btnFinalizar:focus {
  outline: none; }

#btnCargar, #btnCancelar, #btnVer {
  display: flex;
  flex-direction: column;
  border: black;
  color: white;
  font-size: 15px;
  background-color: #e14c41;
  border-radius: 5%;
  margin-top: 4rem;
  margin-left: 3rem;
  padding: 10px 40px;
  transition: all 0.3s;
  margin-bottom: 4rem; }

input {
  display: flex;
  flex-direction: column;
  padding: 5px 70px;
  margin-top: 4rem; }

.FinCompra {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8rem; }
