@import url("https://fonts.googleapis.com/css2?family=Anton&family=Expletus+Sans:ital,wght@0,400;0,500;1,400&family=Inter:wght@300;400;500&family=Josefin+Sans:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");
.fs-xxlarge {
  font-size: 5em; }

.fs-xlarge {
  font-size: 3em; }

.fs-large {
  font-size: 2em; }

.fs-medium {
  font-size: 1.6em; }

.fs-small {
  font-size: 1.4em; }

.fs-xsmall {
  font-size: 1em; }

.fs-xxsmall {
  font-size: 0.8em; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  color: #FFFFFF;
  font-family: "Inter", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

@keyframes fancy_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* PARTIALS */
header {
  background-color: #3d1a1a; }
  header .logo {
    flex-basis: 20%;
    height: 150px;
    border-radius: 50%; }
  header .navbar {
    min-height: 15vh;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%; }
    header .navbar .navbar-collapse {
      flex-grow: unset; }
      header .navbar .navbar-collapse .nav-item {
        padding: 1rem;
        color: #FFFFFF; }
        header .navbar .navbar-collapse .nav-item .nav-link {
          border-bottom: 2px solid #3d1a1a; }
          header .navbar .navbar-collapse .nav-item .nav-link:hover {
            border-bottom: 2px solid #FFFFFF;
            border-color: #FFFFFF; }
        header .navbar .navbar-collapse .nav-item .dropdown-menu {
          background-color: white;
          color: #FFFFFF; }
          header .navbar .navbar-collapse .nav-item .dropdown-menu.dropdown-item:hover {
            background-color: #da9393;
            color: black; }
      header .navbar .navbar-collapse li:hover > ul {
        display: block;
        color: #FFFFFF; }
      header .navbar .navbar-collapse li ul li {
        position: relative; }
      header .navbar .navbar-collapse .navbar-dark .navbar-toggler {
        border-color: white; }
        header .navbar .navbar-collapse .navbar-dark .navbar-toggler .navbar-toggler-icon {
          color: white; }

footer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  border-top: 1px solid white;
  background-color: black; }

/* VIEWS */
.body-inicio {
  min-height: 100vh;
  gap: 3rem;
  color: #FFFFFF;
  font-family: "Inter", sans-serif; }
  .body-inicio .inicio {
    display: flex;
    font-size: small;
    gap: 3rem;
    text-align: left;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.351);
    color: black; }
    .body-inicio .inicio__article {
      margin-top: 4rem;
      line-height: 4rem;
      max-width: 1080px; }
    .body-inicio .inicio__titulo {
      color: white;
      text-shadow: 2px 2px 2px black;
      width: 100%;
      font-family: 'Expletus Sans', cursive;
      background-image: url(../img/ganaderia3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      font-size: 4em;
      text-align: center;
      padding: 7rem 4rem;
      animation: zoomIn 1 ease-in-out 5s; }
    .body-inicio .inicio__imagenes {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      flex-wrap: wrap;
      min-width: 320px;
      margin-top: 3rem;
      padding: 2rem;
      justify-content: center; }
      .body-inicio .inicio__imagenes .foto1 {
        margin-right: 5rem;
        animation: zoomIn 1 ease-in-out 3s; }
      .body-inicio .inicio__imagenes .foto2 {
        padding: 1rem;
        border: 1px solid gray;
        border-radius: 50%;
        width: 100%;
        transition: transform 3s ease-in-out; }
      .body-inicio .inicio__imagenes .foto2:hover {
        transform: scale(1.2);
        border-radius: 50%; }
      @media screen and (max-width: 480px) {
        .body-inicio .inicio__imagenes body {
          margin: 0.5rem;
          font-size: 1em; }
        .body-inicio .inicio__imagenes header {
          padding: 1em;
          justify-content: center; }
          .body-inicio .inicio__imagenes header .navbar {
            flex-wrap: wrap;
            justify-content: center; }
        .body-inicio .inicio__imagenes h3 {
          font-size: small; } }

@media screen and (max-width: 480px) and (max-width: 780px) {
  .body-inicio .inicio__imagenes header .navbar {
    flex-wrap: wrap;
    justify-content: center; }
  .body-inicio .inicio__imagenes .inicio__article {
    width: 100%; } }

@media screen and (max-width: 480px) and (max-width: 320px) {
  .body-inicio .inicio__imagenes header {
    padding: 1em; }
    .body-inicio .inicio__imagenes header .navbar {
      flex-wrap: wrap;
      justify-content: center; }
  .body-inicio .inicio__imagenes .inicio__article {
    width: 100%; } }

.nosotros {
  background-image: url(../img/trigo.jpg);
  line-height: 3rem;
  flex-direction: row;
  flex-wrap: wrap; }
  .nosotros__section {
    padding-top: 4rem; }
    .nosotros__section .nosotros__title {
      font-size: 5em;
      color: white;
      font-size: "Roboto";
      text-shadow: 2px 2px 2px black;
      font-weight: 700;
      text-align: center;
      padding: 3rem;
      text-decoration: underline; }
    .nosotros__section .nosotros__article {
      font-size: small;
      color: black;
      margin: 3rem;
      transition: all .5s ease-in-out;
      animation: slideInLeft 1 ease-in-out 5s;
      gap: 3rem;
      background-color: rgba(222, 184, 135, 0.351); }
    .nosotros__section .btn {
      background-color: #3d1a1a;
      color: white;
      border: none; }

@media screen and (max-width: 480px) {
  .nosotros {
    justify-content: center; } }

@media screen and (max-width: 780px) {
  .nosotros__title {
    font-size: medium; } }

.servicios__main {
  background-image: url(../img/trigo.jpg);
  line-height: 3rem; }
  .servicios__main H2 {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black; }
  .servicios__main .servicios__titulo {
    font-size: 5em;
    color: white;
    font-size: "Roboto";
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: underline; }
  .servicios__main .servicios__parrafo {
    line-height: 3rem;
    font-weight: bold;
    font-size: medium;
    margin-top: 2rem;
    background-color: rgba(222, 184, 135, 0.351); }
  .servicios__main .servicios__ganaderia, .servicios__main .servicios__agricultura {
    font-size: 1.5rem;
    color: black;
    background-color: rgba(222, 184, 135, 0.351); }

footer {
  color: #FFFFFF; }

@media screen and (max-width: 480px) {
  .servicios__main {
    font-size: 1em;
    line-height: 2em;
    justify-content: center; }
    .servicios__main .servicios__titulo {
      font-size: 3em; }
    .servicios__main .servicios__parrafo {
      border: 3px solid #FFFFFF;
      line-height: 3rem;
      font-weight: bold;
      justify-content: center; } }

.galeria__body {
  padding-bottom: 5rem;
  background-color: #FFFFFF;
  color: black; }
  .galeria__body .galeria__titulo {
    font-size: 5em;
    color: #3d1a1a;
    font-size: "Roboto";
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: underline; }
  .galeria__body #galeria .col-lg-4 {
    margin: 0 !important;
    padding: 2.5rem; }
  .galeria__body #galeria img {
    width: 100%;
    height: 250px; }
    .galeria__body #galeria img:hover {
      border: 5px solid white; }

@media screen and (max-width: 780px) {
  .galeria__titulo {
    font-size: medium; } }

.premios__body {
  background-image: url(../img/fondo_45degreee_fabric.png); }
  .premios__body .premios__titulo {
    font-size: 5em;
    color: white;
    font-size: "Roboto";
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    text-decoration: underline; }
  .premios__body .premios__tabla {
    margin-bottom: 4rem;
    padding: 4rem; }
  .premios__body .premios__section {
    color: black;
    padding: 4rem; }

.contacto__body {
  background-image: url(../img/rollos.jpg);
  font-family: "Inter", sans-serif; }
  .contacto__body .contacto__title {
    font-size: x-large;
    margin-bottom: 4rem;
    color: black; }
  .contacto__body .contacto__form {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: bold;
    line-height: 4rem;
    text-align: center;
    padding: .8rem;
    margin-top: 4rem;
    background-color: rgba(222, 184, 135, 0.351);
    color: black; }
    .contacto__body .contacto__form .form-label {
      font-size: 1em; }
    .contacto__body .contacto__form .contacto__btn {
      margin-bottom: 2rem;
      width: 100px;
      padding: .2rem;
      background-color: #3d1a1a;
      color: white;
      border: none; }

@media screen and (max-width: 480px) {
  .contacto__body .contacto-title {
    font-size: large; }
  .contacto__body .form-label {
    font-size: small; } }
