@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Expletus+Sans:ital,wght@0,400;0,500;1,400&family=Inter:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%;
  color: #FFFFFF;
  font-family: "Inter", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF; }

body {
  background-color: var(--principal); }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

@keyframes fancy_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* PARTIALS */
header {
  background-color: var(--principal); }
  header .logo {
    flex-basis: 20%;
    height: 150px;
    border-radius: 50%; }
  header .navbar {
    min-height: 15vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    opacity: none; }
    header .navbar .nav-item:hover .nav-link {
      display: block;
      color: var(--principal); }
    header .navbar li:hover > ul {
      display: block; }
    header .navbar li ul li {
      position: relative; }
  header .navbar-nav {
    justify-content: space-between;
    margin: 0 4rem;
    padding: 2rem; }
  header .nav-item {
    padding: 1rem;
    color: var(--secondary); }
  header .nav-link {
    color: var(--secondary); }
  header .navbar-toggler-icon {
    color: white; }
  header .navbar-dark .navbar-toggler {
    border-color: white; }
  header a .nav-link:hover {
    background-color: #da9393;
    border-bottom: white;
    border-style: 1px solid white; }
  header .dropdown-menu {
    background-color: white;
    color: var(--secondary); }
  header .dropdown-item:hover {
    background-color: #da9393;
    color: black; }

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-sm);
  border-top: 1px solid white;
  background-color: black; }
  footer .footer-contacto {
    color: var(--secondary); }

/* VIEWS */
.body-inicio {
  min-height: 100vh;
  gap: 3rem;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  background-color: #3d1a1a; }
  .body-inicio .inicio {
    display: flex;
    font-size: 1.4em;
    gap: 3rem;
    text-align: left;
    padding: 0 2rem;
    background-color: #FFFFFF;
    color: black; }
    .body-inicio .inicio main {
      background-color: darkgrey; }
    .body-inicio .inicio__article {
      line-height: 4rem;
      max-width: 1080px; }
    .body-inicio .inicio__titulo {
      width: 100%;
      font-family: 'Expletus Sans', cursive;
      background-image: url(../img/fondo_45degreee_fabric.png);
      font-size: 4em;
      text-align: center;
      padding: 8rem;
      margin-bottom: 4rem;
      animation: zoomIn 1 ease-in-out 5s; }
    .body-inicio .inicio__imagenes {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      flex-wrap: wrap;
      min-width: 320px;
      margin-top: 3rem;
      padding: 2rem;
      justify-content: center; }
      .body-inicio .inicio__imagenes .foto1 {
        padding: 2rem;
        margin-right: 5rem;
        animation: zoomIn 1 ease-in-out 3s; }
        .body-inicio .inicio__imagenes .foto1 .foto2 {
          padding: 2rem;
          border-radius: 50%;
          border: 1px solid black;
          width: 100%;
          transition: transform 3s ease-in-out; }
      .body-inicio .inicio__imagenes picture .foto2:hover {
        transform: scale(1.5); }
      @media screen and (max-width: 480px) {
        .body-inicio .inicio__imagenes body {
          margin: 0.5rem; }
        .body-inicio .inicio__imagenes header .navbar {
          flex-wrap: wrap;
          justify-content: center; }
        .body-inicio .inicio__imagenes header {
          padding: 1em;
          justify-content: center; }
        .body-inicio .inicio__imagenes h3 {
          font-size: 1.4em; }
        .body-inicio .inicio__imagenes .inicio {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          margin: 0.5rem;
          font-family: 1.2em; }
        .body-inicio .inicio__imagenes .inicio__imagenes {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center; }
        .body-inicio .inicio__imagenes .tituloChampaqui {
          font-size: 2em; }
        .body-inicio .inicio__imagenes .foto1 {
          order: -1; }
        .body-inicio .inicio__imagenes .foto2 {
          flex-wrap: wrap; }
        .body-inicio .inicio__imagenes .menu {
          font-size: .8em; } }
      @media screen and (max-width: 780px) {
        .body-inicio .inicio__imagenes header .navbar {
          flex-wrap: wrap;
          justify-content: center; }
        .body-inicio .inicio__imagenes .article-inicio {
          width: 100%; } }
      @media screen and (max-width: 320px) {
        .body-inicio .inicio__imagenes header {
          padding: 1em; }
          .body-inicio .inicio__imagenes header .navbar {
            flex-wrap: wrap;
            justify-content: center; }
        .body-inicio .inicio__imagenes .article-inicio {
          width: 100%; } }

.section-nosotros {
  background-image: url(../../img/trigo.jpg); }

.section-nosotros {
  background-image: url(../img/trigo\2.jpg); }

.main-nosotros {
  background-image: url(../../img/trigo.jpg);
  gap: 3rem; }
  .main-nosotros .article-nosotros {
    font-size: 1.4em;
    color: black;
    margin: 3rem;
    transition: all .5s ease-in-out;
    animation: slideInLeft 1 ease-in-out 5s;
    gap: 3rem; }
  .main-nosotros .tituloChampaqui {
    font-size: 4em;
    text-align: center; }
  .main-nosotros .nosotros {
    flex-direction: row;
    flex-wrap: wrap; }
  .main-nosotros .champaqui {
    margin-top: 4rem; }
    .main-nosotros .champaqui__title {
      font-size: 5em; }
    .main-nosotros .champaqui .imagenChampaqui {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      flex-basis: 30%;
      gap: 3rem;
      border: 3px solid #FFFFFF;
      transition: transform 3s ease-in-out; }
  .main-nosotros .historia {
    font-size: 1.4em;
    line-height: 4em; }
  @media screen and (max-width: 480px) {
    .main-nosotros .nosotros {
      justify-content: center;
      font-size: 1em; }
    .main-nosotros aside {
      justify-content: center; }
    .main-nosotros .imagenChampaqui {
      order: -1; } }

.main-servicios {
  background-image: url(../img/trigo.jpg);
  line-height: 3rem;
  padding-top: 3rem; }

.servicios {
  display: flex;
  flex-direction: column; }

.servicios__parrafo {
  line-height: 3rem;
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 5rem; }

.p_servicios {
  font-size: 1.5rem; }

.servicios__titulo {
  font-size: 4em;
  text-align: center; }

.servicios__titulo2 {
  font-size: 1.6em;
  text-decoration: underline; }

.servicios__mision {
  font-size: 1.6em; }

@media screen and (max-width: 480px) {
  .servicios__titulo {
    font-size: 3em; }
  .servicios__parrafo {
    border: 2px solid #FFFFFF;
    line-height: 3rem;
    font-weight: bold;
    font-size: 1.5em;
    justify-content: center; }
  .mainServicios {
    font-size: 1em;
    line-height: 2em;
    justify-content: center; } }

.tituloGaleria {
  font-size: 4em;
  text-align: center;
  font-size: 2em;
  align-items: center; }

.body-galeria {
  background-image: url(../img/trigo.jpg);
  color: #FFFFFF; }

@media screen and (max-width: 780px) {
  .tituloGaleria {
    font-size: 1.6em; } }

.body-premios {
  background-image: url(../img/fondo_45degreee_fabric.png); }

.titulo-premios {
  color: black;
  margin: 4rem; }

.premios-tabla {
  margin-bottom: 4rem; }

.sección-premios {
  color: black; }

.body-contacto > header {
  font-weight: none; }

.consulta {
  line-height: 12rem; }

.body-contacto {
  background-image: url(../img/rollos.jpg);
  color: black;
  font-family: "Inter", sans-serif; }

.form-contacto {
  font-weight: bold; }

form {
  font-size: 1.6em;
  line-height: 4rem;
  text-align: center;
  padding: .8rem;
  width: 400px; }

.button {
  font-size: 1.4em;
  margin-bottom: 3rem;
  width: 200px; }

@media screen and (max-width: 480px) {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: .8em; } }
