/* Helpers */


@mixin title ($size: 2em, $color:white, $font:'Roboto', $shadow: 2px 2px 2px black, $weight: 0, $align: center, $padding:0, $decoration: none) {
    font-size: $size;
    color: $color;
    font-family: $font;
    text-shadow: $shadow;
    font-weight:$weight;
    text-align: $align;
    padding:$padding;
    text-decoration: $decoration;
}
        

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
