$principal: #3d1a1a;
$secondary: #FFFFFF;
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-third: 'Expletus, sans';

$btn-link-color: #3d1a1a;


$sizes: (
    xxlarge: 5em,
    xlarge: 3em,
    large: 2em,
    medium: 1.6em,
    small: 1.4em,
    xsmall: 1em,
    xxsmall: 0.8em
);

@each $var, $val in $sizes {
    .fs-#{$var} {
    font-size: #{$val};
}
}

$enable-shadows:true;
$enable-gradients:true;
$btn-padding-y: .8rem;
$btn-padding-x: 1.5rem;
$btn-border-radius: 1rem;