footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-sm);
    border-top: 1px solid white;
    background-color: black;


    .footer-contacto {
    color:var(--secondary);
}
}

