header {
    background-color: $principal;

    & .logo {
        flex-basis: 20%;
        height: 150px;
        border-radius: 50%;

    }

   
    .navbar {

        min-height: 15vh;
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;

        .input {

        height: 40px;
        align-content: center;
       

        }
            
          #boton-carrito {
            border: none;
            color: rgb(225, 76, 65);
            font-size: 30px;
            background-color: rgb(81, 78, 78);
            border-radius: 50%;
            padding: 3px 7px;
            transition: all 0.3s;
          }
          #boton-carrito:hover {
            cursor: pointer;
            color: white;
            background-color: rgb(225, 76, 65);
          }
          #boton-carrito:focus {
            outline: none;
          }

          .seleccion {
            text-align: center;
          }

        .navbar-collapse {

            flex-grow: unset;


            .nav-item {
                padding: 1rem;
                color: $secondary;

                .nav-link {

                    border-bottom: 2px solid $principal;

                    &:hover {
                        border-bottom: 2px solid $secondary;
                        border-color: $secondary;
                    }

                }

                .dropdown-menu {
                    background-color: rgba(246, 229, 189, 0.815);;
                    color: $secondary;
                    border-radius: 5%;
                    font-size: 1.2em;

                    &.dropdown-item:hover {

                        background-color: rgb(218, 147, 147);
                        color: rgb(0, 0, 0);
                    }
                }

            }

            & li:hover>ul {
                display: block;
                color: $secondary;

            }

            & li ul li {
                position: relative;
            }


            .navbar-dark .navbar-toggler {
                border-color: white;

                .navbar-toggler-icon {
                    color: white;

                }
            }

        }

    }
}