header {
    background-color: $principal;

    & .logo {
        flex-basis: 20%;
        height: 150px;
        border-radius: 50%;

    }

    .navbar {

        min-height: 15vh;
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;


        .navbar-collapse {

            flex-grow: unset;


            .nav-item {
                padding: 1rem;
                color: $secondary;

                .nav-link {

                    border-bottom: 2px solid $principal;

                    &:hover {
                        border-bottom: 2px solid $secondary;
                        border-color: $secondary;
                    }

                }

                .dropdown-menu {
                    background-color: white;
                    color: $secondary;

                    &.dropdown-item:hover {

                        background-color: rgb(218, 147, 147);
                        color: rgb(0, 0, 0);
                    }
                }

            }

            & li:hover>ul {
                display: block;
                color: $secondary;

            }

            & li ul li {
                position: relative;
            }


            .navbar-dark .navbar-toggler {
                border-color: white;

                .navbar-toggler-icon {
                    color: white;

                }
            }

        }

    }
}